.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* This is a new comment */


/* This ia 2nd new comment*/


/* /Fisrt version */

/*2nd version*/

/*Third version*/